body {
    background: url(/Assets/01-imagenes-de-los-simpsons.jpg);
    background-size: 100%;
    color: #fff;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

#container {
    /* display: flex;
    flex-direction: column; */
    width: 60%;
    background: #2ab4be;
    opacity: 90%;
    background-size: coain;
    
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}

header {
    text-align: center;
    border-bottom: #fff dashed 1px;
}

header h1{
    margin: 0;
    padding: 0;
    color: yellow;
    font-size: 15px;

}

header p {
    padding: 10px;
    font-size: 40px;
    margin-top: 5px;
    color: #000000;   
}

.p {
    font-size: 20px;
    padding: 10px;
}

h3 {
    color: #000000;
}

.sectionPrincipal  {
    display: flex;
    flex-direction: column;
}

#preguntas {
    display: flex;
    flex-direction: column;

}

label {
    padding: 5px;
}

input[type="submit"] {
    background: #f06226;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 30px;
}

#resultado h3 {
    background: #c6db48;
    padding: 10px;
    margin: 10px 0;
    text-align: center;

}

#resultado spam {
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

#boton {
    width: 100%;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
  }
  #boton:hover {
    background: #fff;
    color: #212529
  }


