* {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(/Assets/pexels-leeloo-thefirst-5428834.jpg);
    background-size:100%;
    color: white;
}